<section class="intro" style="margin: 30px 0px;">
  <div class="gradient-custom-1 h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12" style="width: 90vw; overflow-x: auto">
            <div class="table-responsive bg-white">
              <table class="table mb-0 table-bordered" style="border-color: black;">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="font-weight: bold;" colspan="2s">FACTURE</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="height: 40px;">
                      <td></td>
                      <td width="20%"></td>
                      <td width="12%"></td>
                      <td width="12%"></td>
                      <td width="12%"></td>
                      <td width="12%"></td>
                      <td width="12%"></td>
                    </tr>
                    <tr>
                      <td>Nom société:</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Adresse:</td>
                      <td style="background-color: #70768c;"></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td style="font-weight: bold; text-align: right;">DATE:</td>
                      <td style="background-color: #70768c;"></td>
                    </tr>
                    <tr>
                      <td>Code postal, Ville:</td>
                      <td style="background-color: #70768c; font-weight: bold;">101 Anatanarivo</td>
                      <td></td>
                      <td></td>
                      <td colspan="2" style="font-weight: bold; text-align: right;">N° FACTURE:</td>
                      <td></td>
                    </tr>
                    <tr>
                        <td>Pays:</td>
                        <td  style="background-color: #70768c"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                      <td>CIN:</td>
                      <td  style="background-color: #7c8897;"></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Email:</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td style="background-color: #70768c"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold; text-align: right;">Client:</td>
                    <td style="font-weight: bold;">ESTI</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td style="background-color: #70768c"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold;">Antanimena</td>
                  </tr>
                  <tr>
                    <td>Téléphone:</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold;">101 Antananarivo</td>
                  </tr>
                  <tr style="height: 40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr style="height: 40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Période:</td>
                    <td>Mois de</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr style="height: 40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td scope="col" class="table-active" style="font-weight: bold; background-color: #8da5c7;">Taux Horaire (en Ariary)</td>
                    <td scope="col" class="table-active" style="font-weight: bold; background-color: #8da5c7;" colspan="2">Période d'enseignant</td>
                    <td scope="col" class="table-active" style="font-weight: bold; background-color: #8da5c7;">Code matière</td>
                    <td scope="col" class="table-active" style="font-weight: bold; background-color: #8da5c7;">Niveau</td>
                    <td scope="col" class="table-active" style="font-weight: bold; background-color: #8da5c7;">Volume horaire</td>
                    <td scope="col" class="table-active" style="font-weight: bold; background-color: #8da5c7;">MONTANT (en Ariary)</td>
                  </tr>

                  <tr>
                      <td>32 000, 00</td>
                      <td colspan="2">Semaine du 19 septembre</td>
                      <td>ENTP-710</td>
                      <td>M1</td>
                      <td>10</td>
                      <td>320 000,00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
