<header>
    <div class="image">
        <img src="../../../../assets/esti.png" >
    </div>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">Menu</label>

    <nav class="navbar">
        <ul>
            <li><a href="#">DashBoard</a></li>
            <li><a href="#">Enseignant +</a>
                <ul>
                    <li><a href="#">Liste</a></li>
                    <li><a href="#">Facture</a></li>
                    <li><a href="#">Attestation</a></li>
                    <li><a href="#">Cahier de Texte</a></li>
                </ul>
            </li>
            <li><a href="#">Etudiant +</a>
                <ul>
                    <li><a href="#">Liste</a></li>
                    <li><a href="#">Résultat examen</a></li>
                    <li><a href="#">Classification</a></li>
                </ul>
            </li>
            <li><a href="#">Salle</a></li>
            <li><a href="#">Module</a></li>
        </ul>
    </nav>
    
</header>
