<header>
    <div class="image">
        <img src="../../../../assets/esti.png" >
    </div>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">Menu</label>

    <nav class="navbar">
        <ul>
            <li><a routerLink="/dashboard">DashBoard</a></li>
            <li><a routerLink="/enseignant">Enseignant</a></li>
            <li><a routerLink="/etudiant">Etudiant +</a>
                <ul>
                    <li><a routerLink="/etudiant">Liste</a></li>
                    <li><a routerLink="/note">Résultat examen</a></li>
                    <li><a routerLink="/classification">Classification</a></li>
                </ul>
            </li>
            <li><a routerLink="/salle">Salle</a></li>
            <li><a routerLink="/module">Module</a></li>
            <li><a routerLink="/cahierTexte">Cahier de Texte</a></li>
        </ul>
    </nav>
    
</header>
