<section class="intro" style="margin: 30px 0px;">
  <div class="gradient-custom-1 h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12" style="width: 90vw; overflow-x: auto">
            <div class="table-responsive bg-white">
              <table class="table mb-0 table-bordered" id="center" style="border-color: black;">
                <thead>
                  <tr>
                      <td scope="col" colspan="7" ><img src="../../../assets/esti.png" alt="" width="175px" height="125px"></td>
                  </tr>
                  <tr>
                    <td scope="col" class="table-active" colspan="7" style="font-size: 20px;font-weight: bold;">ATTESTATION DE SERVICE</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td scope="row" style="padding-top: 25px;" rowspan="2" colspan="2">Année académique 2021-2022</td>
                      <td colspan="6" style="font-weight: bold;">Nom de l'enseignant</td>
                  </tr>
                  <tr>
                      <td scope="row" colspan="6">Iarivo Mickael</td>
                  </tr>
                  <tr>
                    <td scope="row" colspan="7">Semaine du 22 Août 2022</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Date</td>
                    <td style="font-weight: bold;">Horaire</td>
                    <td style="font-weight: bold;">Durée</td>
                    <td style="font-weight: bold;">Niveau</td>
                    <td style="font-weight: bold;">Module</td>
                    <td style="font-weight: bold;">Emargement</td>
                    <td style="font-weight: bold;">Remarque</td>
                  </tr>
                  <tr>
                      <td rowspan="2" style="padding-top: 25px;">26/08/22</td>
                      <td>09h-12h</td>
                      <td>03h</td>
                      <td rowspan="2" style="padding-top: 25px;">L3 IDEV</td>
                      <td rowspan="2" style="padding-top: 25px;">INFO_571</td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>13h-16h</td>
                      <td>03h</td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td colspan="2">Total heure</td>
                      <td>06h</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td colspan="7" style="height: 40px;"></td>
                  </tr>
                  <tr>
                      <td scope="col" colspan="7">Partie réservée à la scolarité</td>
                  </tr>
                  <tr>
                      <td colspan="5">Participation active dans Workplace</td>
                      <td>OUI</td>
                      <td>NON</td>
                  </tr>
                  <tr>
                      <td colspan="2" style="height: 150px; padding-top: 60px;">Remarques</td>
                      <td colspan="5" style="height: 150px;"></td>
                  </tr>
                  <tr>
                      <td colspan="7" style="height: 150px;">Antananarivo, le</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
